h2 {
  color: #553b3b;
  position: relative;
  font-size: 6rem; /* Use viewport width as a relative unit for font size */
  font-weight: 400;
  font-family: italiana;
  display: inline-block;
  width: auto;
  max-width: 70%;
  margin-bottom: 2rem;
}

h3,
#question {
  color: #695f5f;
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  max-width: 70%;
  margin-bottom: 0.8rem;
  margin-top: 0;
  line-height: 2rem;
}

#general-question {
  font-size: 1.2rem;
  color: #695f5f;
  font-family: Roboto;
  font-style: normal;
  font-weight: lighter;
  display: flex;
}

.option {
  width: 100%;
  font-size: 1.2rem;
  color: #695f5f;
  font-family: Roboto;
  font-style: normal;
  font-weight: lighter;
  display: flex;
  margin-bottom: 0.2rem;
  line-height: 2rem;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-left: 20%;
  width: 60%;
  padding-left: 15%;
  padding-top: 15%;
  box-sizing: border-box;
}

.circle {
  margin-right: 0.6rem;
  width: 1rem;
}

.bad-outcome {
  padding-top: 45%;
  color: red !important;
}

.hidden {
  display: none !important;
}
